BackprogrammeProGruppe_german.csv
ConnectionTest_german.xlsx
ConnectionTest_german.csv
BackprogrammeProGruppe_german.xlsx
CleaningprogrammeProGruppe_german.csv
PL-report-10.10.2023.csv
plot_image.png
__pycache__/verbindungstest.cpython-310.pyc
__pycache__/bakingreports.cpython-310.pyc
__pycache__/bakingreports.cpython-311.pyc
__pycache__/verbindungstest.cpython-311.pyc
bereinigte_datei.xlsx
bereinigte_datei.csv
PL-report-10.10.2023.xlsx
.vs/TheProgramm/v17/.wsuo
.vs/TheProgramm/FileContentIndex/87138461-472b-40c9-ba44-69a6b2588aed.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
