BackprogrammeProGruppe_german.csv
ConnectionTest_german.xlsx
ConnectionTest_german.csv
BackprogrammeProGruppe_german.xlsx
CleaningprogrammeProGruppe_german.csv
plot_image.png
__pycache__/verbindungstest.cpython-310.pyc
__pycache__/bakingreports.cpython-310.pyc
